/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'franchise';
  src: url("../fonts/franchise-bold.eot");
  src: url("../fonts/franchise-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/franchise-bold.woff") format("woff"), url("../fonts/franchise-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.svg#icomoon") format("svg"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* line 1, src/_default.scss */
html {
  background: -webkit-radial-gradient(#222121 30%, black);
  background-size: 100%;
}

/* line 5, src/_default.scss */
body {
  font-family: Droid Sans, sans-serif;
  color: #eee;
}

/* line 10, src/_default.scss */
.centered {
  max-width: 900px;
  margin: auto;
}

/* line 15, src/_default.scss */
.icon {
  font-family: "icon";
}

/* line 19, src/_default.scss */
header {
  padding: 3em 0 0.1em;
  text-align: center;
}
/* line 23, src/_default.scss */
header a {
  text-decoration: none;
}
/* line 26, src/_default.scss */
header hgroup {
  font-size: 9em;
}
/* line 29, src/_default.scss */
header h1 {
  font-family: franchise;
  text-transform: uppercase;
  color: #20a8dd;
  color: #eee;
  text-shadow: 3px 0px #979797;
}
/* line 37, src/_default.scss */
header h1 .gray {
  color: #888888;
}
/* line 41, src/_default.scss */
header h2 {
  font-family: Coda;
  color: #999;
  color: #20a8dd;
  font-size: 0.27em;
  margin: -0.2em 0 0.9em;
  -webkit-transition: text-shadow 400ms;
}
/* line 51, src/_default.scss */
header h2:hover {
  -webkit-transition: text-shadow 400ms;
}

/* line 57, src/_default.scss */
.non-semantic-protector {
  position: relative;
  z-index: 1;
  -webkit-filter: drop-shadow(rgba(0, 0, 0, 0.25) 0 3px 5px);
}

/* line 62, src/_default.scss */
.ribbon {
  font-size: 2.1em;
  font-family: Coda;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.4);
  /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */
  width: 700px;
  position: relative;
  -webkit-box-shadow: inset 20px 0 15px -15px rgba(0, 0, 0, 0.15), inset -20px 0 15px -15px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 20px 0 15px -15px rgba(0, 0, 0, 0.15), inset -20px 0 15px -15px rgba(0, 0, 0, 0.15);
  box-shadow: inset 20px 0 15px -15px rgba(0, 0, 0, 0.15), inset -20px 0 15px -15px rgba(0, 0, 0, 0.15);
  background-color: #be2727;
  background-image: -webkit-radial-gradient(#be2727, #8b1d1d);
  background-image: -moz-radial-gradient(#be2727, #8b1d1d);
  background-image: radial-gradient(#be2727, #8b1d1d);
  color: #fff;
  text-align: center;
  padding: 0.5em 2em;
  /* Adjust to suit */
  margin: 1.5em auto 0;
  /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}
/* line 80, src/_default.scss */
.ribbon .title {
  text-transform: uppercase;
}
/* line 83, src/_default.scss */
.ribbon .icon {
  margin-right: 0.5em;
}
/* line 87, src/_default.scss */
.ribbon:before, .ribbon:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -0.6em;
  border: 0.9em solid #7f1a1a;
  z-index: -2;
}
/* line 96, src/_default.scss */
.ribbon:before {
  left: -1.8em;
  border-right-width: 1.5em;
  border-left-color: transparent;
}
/* line 101, src/_default.scss */
.ribbon:after {
  right: -1.8em;
  border-left-width: 1.5em;
  border-right-color: transparent;
}
/* line 106, src/_default.scss */
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #541111 transparent transparent transparent;
  bottom: -0.6em;
  z-index: -1;
}
/* line 115, src/_default.scss */
.ribbon .ribbon-content:before {
  left: -0.02em;
  border-width: 0.6em 0 0 0.6em;
}
/* line 119, src/_default.scss */
.ribbon .ribbon-content:after {
  right: -0.02em;
  border-width: 0.6em 0.6em 0 0;
}

/* line 125, src/_default.scss */
.live {
  background-color: #eeb80f;
  background-image: -webkit-radial-gradient(#eeb80f, #b0880b);
  background-image: -moz-radial-gradient(#eeb80f, #b0880b);
  background-image: radial-gradient(#eeb80f, #b0880b);
  -webkit-box-shadow: inset 20px 0 15px -15px rgba(0, 0, 0, 0.15), inset -20px 0 15px -15px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 20px 0 15px -15px rgba(0, 0, 0, 0.15), inset -20px 0 15px -15px rgba(0, 0, 0, 0.15);
  box-shadow: inset 20px 0 15px -15px rgba(0, 0, 0, 0.15), inset -20px 0 15px -15px rgba(0, 0, 0, 0.15);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.4);
}
/* line 133, src/_default.scss */
.live .icon {
  color: #be2727;
  text-shadow: 0 0 5px maroon;
  font-size: 0.8em;
}
/* line 138, src/_default.scss */
.live:before, .live:after {
  border-color: #a6800a;
}
/* line 142, src/_default.scss */
.live:before {
  border-left-color: transparent;
}
/* line 145, src/_default.scss */
.live:after {
  border-right-color: transparent;
}
/* line 148, src/_default.scss */
.live .ribbon-content:before, .live .ribbon-content:after {
  border-color: #965f00 transparent transparent transparent;
}

/* line 153, src/_default.scss */
.hangout {
  background: black;
  width: 760px;
  margin: auto;
  min-height: 400px;
}

/* line 160, src/_default.scss */
.comming_soon {
  max-width: 760px;
  margin: auto;
  background: url(../img/noise.gif);
  color: white;
  text-align: center;
  font-size: 2.5em;
  font-family: Coda;
  font-size: 5em;
  text-transform: uppercase;
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -ms-border-radius: 0 0 7px 7px;
  -o-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
  text-shadow: 0px 0px 8px black, 0px 0px 3px black;
}
/* line 173, src/_default.scss */
.comming_soon .inner {
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: -webkit-radial-gradient(transparent 50%, rgba(0, 0, 0, 0.4));
  background-image: -moz-radial-gradient(transparent 50%, rgba(0, 0, 0, 0.4));
  background-image: radial-gradient(transparent 50%, rgba(0, 0, 0, 0.4));
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -ms-border-radius: 0 0 7px 7px;
  -o-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
}
/* line 181, src/_default.scss */
.comming_soon h2 {
  font-weight: bold;
  font-size: 0.7em;
}
/* line 185, src/_default.scss */
.comming_soon .feat {
  font-family: Great Vibes;
  text-transform: lowercase;
  font-size: 0.7em;
  margin: 0.5em 0;
}
/* line 191, src/_default.scss */
.comming_soon h3 {
  font-size: 0.8em;
  font-family: Great Vibes;
  text-transform: capitalize;
}
/* line 196, src/_default.scss */
.comming_soon .date {
  font-family: Droid Sans, sans-serif;
  font-size: 17px;
  margin-top: 2em;
  font-weight: 300;
}

/* line 205, src/_default.scss */
.info {
  max-width: 760px;
  margin: auto;
  color: white;
  margin-top: 1em;
  font-weight: 100;
  overflow: hidden;
  padding-bottom: 3em;
}
/* line 214, src/_default.scss */
.info .about, .info .featuring {
  float: left;
  width: 45%;
  margin: 0 2.5%;
}
/* line 219, src/_default.scss */
.info h3 {
  font-family: Coda;
  font-size: 1.5em;
  color: #999;
  margin-bottom: 0.3em;
}
/* line 226, src/_default.scss */
.info p {
  line-height: 1.2em;
  color: #999;
}

/* line 232, src/_default.scss */
.previous {
  margin: 2em auto 0;
  max-width: 760px;
  overflow: hidden;
  text-align: center;
  padding-bottom: 3em;
}
/* line 239, src/_default.scss */
.previous .ribbon {
  width: 490px;
  margin-bottom: 2em;
}
/* line 244, src/_default.scss */
.previous h2 {
  text-transform: uppercase;
}
/* line 248, src/_default.scss */
.previous article {
  float: left;
  width: 33%;
}
/* line 252, src/_default.scss */
.previous a {
  color: #ddd;
  text-decoration: none;
}
/* line 255, src/_default.scss */
.previous a:hover {
  text-decoration: underline;
}
/* line 259, src/_default.scss */
.previous img, .previous h3 {
  width: 80%;
  margin: auto;
  height: auto;
}
/* line 264, src/_default.scss */
.previous h3 {
  margin: 0.4em auto 0.3em;
}
/* line 267, src/_default.scss */
.previous .date {
  font-weight: 100;
  font-size: 0.9em;
  font-style: italic;
  color: #999;
}

/* line 275, src/_default.scss */
#footer {
  text-align: center;
  padding: 2em 0 2.2em;
  color: #777;
  font-size: 0.8em;
  line-height: 1.2em;
  box-shadow: 0 0 100px rgba(255, 255, 255, 0.14);
  margin-top: 3em;
}
