---
layout: default
title: Hangouts de Javascript
is_index: true

next_title:
next_feat: Nicolás García Belmonte
next_date: 2012-09-22
next_time: "16:30 (BOG GMT-5)"
next_categories: [data-visualization, twitter, philogl]
next_description: "En este hangout, Nicolás presentará las tecnologías Web que usa y cómo las combina para crear visualizaciones de datos. Hablará sobre tecnologías como el 2D Canvas, WebGL, ES5, XHR2 y otras. También presentará dos librerías de las que es autor: el JavaScript InfoVis Toolkit y PhiloGL."
next_bio: Nicolás trabaja como Data Visualization Scientist en Twitter y es el creador de populares librerías de visualización de datos como PhiloGL y Javascript InfoVis Toolkit.
next_url:
next_active:
---

{% if page.next_active != null %}
<div class="non-semantic-protector">
	<div class="ribbon ">
		<div class="ribbon-content title">Próximo Hangout
		</div>
	</div>
</div>
<div class="comming_soon">
	<div class="inner">
		<h2>{{ page.next_title }}</h2>
		<p class="feat"> - feat - </p>
		<h3>{{ page.next_feat }}</h3>
		<time class="date" datetime="{{ page.next_date }}">{{ page.next_date | date_to_string }} a las {{page.next_time}}</time>
	</div>
</div>
<div class="info">
	<div class="about">
		<h3>Introducción</h3>
		<p>{{ page.next_description }}</p>
	</div>
	<div class="featuring">
		<h3>Invitado</h3>
		<p>{{ page.next_bio }}</p>
	</div>
</div>

{% elsif page.next_url != null %}
<div class="non-semantic-protector">
	<h2 class="ribbon live">
		<div class="ribbon-content">
			<span class="icon rec">&#x5e;</span> <span class="title">En Vivo: {{ page.next_title }}</span>
		</div>
	</h2>
</div>
<div class="hangout">
	<iframe width="760" height="428" src="http://www.youtube.com/embed/{{ page.next_url }}" frameborder="0" allowfullscreen></iframe>
</div>
<div class="info">
	<div class="about">
		<h3>Introducción</h3>
		<p>{{ page.next_description }}</p>
	</div>
	<div class="featuring">
		<h3>Invitado</h3>
		<p>{{ page.next_bio }}</p>
	</div>
</div>
{% endif %}

{% if page.next_url == null %}
<div class="non-semantic-protector">
	<h2 class="ribbon">
		<div class="ribbon-content">
			<a href="{{ first_post.permalink }}">
				<span class="icon">H</span> <span class="title">Última charla: {% assign first_post = site.posts.first %}{{ first_post.title }} feat. {{ first_post.feat }}</span>
			</a>
		</div>
	</h2>
</div>
<div class="hangout">
	<iframe width="760" height="428" src="http://www.youtube.com/embed/{{ first_post.youtube_id }}" frameborder="0" allowfullscreen></iframe>
</div>
<div class="info">
	<div class="about">
		<h3>Introducción</h3>
		<p>{{ first_post.description }}</p>
	</div>
	<div class="featuring">
		<h3>Invitado</h3>
		<p>{{ first_post.bio }}</p>
	</div>
	{% if first_post.slides %}
	<div class="slides">
		<h3>Slides</h3>
		<script async class="speakerdeck-embed" data-id="{{ first_post.slides }}" data-ratio="1.3333333333333333" src="//speakerdeck.com/assets/embed.js"></script>
	</div>
	{% endif %}
</div>

{% endif %}
{% comment %}

{% endcomment %}