---
layout: default
title: Hangouts de Javascript
is_index: true

next_title: "Pruebas: herramientas, frameworks y técnicas"
next_feat: Equipo ColombiaJS
next_date: 2013-04-16
next_time: "20:00 (BOG GMT-5)"
next_description: Las pruebas son una herramienta indispensables durante el desarrollo de aplicaciones web robustas y estables. Durante el último año encontramos a nuestra disposicion un sinnúmero de librerias, frameworks y herramientas que facilitan y optimizan el proceso de pruebas en aplicaciones de JavaScript, tanto en el servidor como en el cliente. Durante el siguiente JSHangout hablaremos sobre las herramientas disponibles, las diferentes maneras de emplearlas y buenas practicas que se deben tener cuenta durante el desarrollo de aplicaciones.
next_bio: "Organizadores de ColombiaJS: <a href='//twitter.com/buritica' target='_blank'>@buritica</a>, <a href='//twitter.com/c4milo' target='_blank'>@c4milo</a>, <a href='//twitter.com/julian_duque' target='_blank'>@julian_duque</a> y <a href='//twitter.com/davsket' target='_blank'>@davsket</a>."
next_url: false
next_active: true
---

{% if page.next_active != null %}
<div class="non-semantic-protector">
  <div class="ribbon ">
    <div class="ribbon-content title">Próximo Hangout
    </div>
  </div>
</div>
<div class="comming_soon">
  <div class="inner">
    <h2>{{ page.next_title }}</h2>
    <p class="feat"> - feat - </p>
    <h3>{{ page.next_feat }}</h3>
    <time class="date" datetime="{{ page.next_date }}">{{ page.next_date | date_to_string }} a las {{page.next_time}}</time>
  </div>
</div>
<div class="info">
  <div class="about">
    <h3>Introducción</h3>
    <p>{{ page.next_description }}</p>
  </div>
  <div class="featuring">
    <h3>Invitado</h3>
    <p>{{ page.next_bio }}</p>
  </div>
</div>

{% elsif page.next_url != null %}
<div class="non-semantic-protector">
  <h2 class="ribbon live">
    <div class="ribbon-content">
      <span class="icon rec">&#x5e;</span> <span class="title">En Vivo: {{ page.next_title }}</span>
    </div>
  </h2>
</div>
<div class="hangout">
  <iframe width="760" height="428" src="http://www.youtube.com/embed/{{ page.next_url }}" frameborder="0" allowfullscreen></iframe>
</div>
<div class="info">
  <div class="about">
    <h3>Introducción</h3>
    <p>{{ page.next_description }}</p>
  </div>
  <div class="featuring">
    <h3>Invitado</h3>
    <p>{{ page.next_bio }}</p>
  </div>
</div>
{% endif %}

{% if page.next_url == null %}
{% assign first_post = site.posts.first %}
<div class="non-semantic-protector">
  <h2 class="ribbon">
    <div class="ribbon-content">
      <a href="{{ first_post.url }}">
        <span class="icon">H</span> <span class="title">Última charla: {{ first_post.title }} feat. {{ first_post.feat }}</span>
      </a>
    </div>
  </h2>
</div>
<div class="hangout">
  <iframe width="760" height="428" src="http://www.youtube.com/embed/{{ first_post.youtube_id }}" frameborder="0" allowfullscreen></iframe>
</div>

{% include date.html %}

<div class="info">
  <div class="about">
    <h3>Introducción</h3>
    <p>{{ first_post.description }}</p>
  </div>
  <div class="featuring">
    <h3>Invitado</h3>
    <p>{{ first_post.bio }}</p>
  </div>
  {% if first_post.slides %}
  <div class="slides">
    <h3>Slides</h3>
    <script async class="speakerdeck-embed" data-id="{{ first_post.slides }}" data-ratio="1.3333333333333333" src="//speakerdeck.com/assets/embed.js"></script>
  </div>
  {% endif %}
</div>

{% endif %}
{% comment %}

{% endcomment %}