{% if first_post != null %}
	{% assign date = first_post.date %}
{% else %}
	{% assign date = page.date %}
{% endif %}
{% assign date = date | date:"%A, %d de %b. de %Y" | replace:"Jan","Ene" | replace:"Apr","Abr" | replace:"Aug","Ago" | replace:"Dic","Dec" %}
{% assign date = date | replace:"Monday","Lunes" | replace:"Tuesday","Martes" | replace: "Wednesday","Miércoles" | replace:"Thursday","Jueves" | replace:"Friday","Viernes" | replace:"Saturday","Sábado" | replace:"Sunday","Domingo" %}
<div class="date_post">{{ date }}.</div>