html{
	background: -webkit-radial-gradient(#222121 30%, black);
	background-size: 100%;
}
body{
	font-family: $font;
	color: #eee;
}

.centered{
	max-width: 900px;
	margin: auto;
}

.icon{
	font-family: $icon;
}

header{
	padding: 3em 0 0.1em;
	text-align: center;

	a{
		text-decoration: none;
	}
	hgroup{
		font-size: 9em; 
	}
	h1{
		font-family: $font-title;
		text-transform: uppercase;
		color: $blue;
		// display: inline;
		color: #eee;
		text-shadow: 3px 0px #979797;

		.gray{
			color: $gray;
		}
	}
	h2{
		// display: inline;
		font-family: Coda;
		color: #999;
		color: $blue;
		font-size: 0.27em;
		margin: -0.2em 0 0.9em;
		-webkit-transition: text-shadow 400ms;
		// text-shadow: 0 2px 20px rgba(255,255,255,0.3);

		&:hover{
			-webkit-transition: text-shadow 400ms;
		}
	}
}

.non-semantic-protector {
	position: relative;
	z-index: 1;
	-webkit-filter: drop-shadow(rgba(0,0,0,0.25) 0 3px 5px);
}
.ribbon {
	font-size: 2.1em;
	font-family: Coda;
	text-shadow: 0 0 4px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.4);
	/* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */

	width: 700px;
	position: relative;
	@include box-shadow(inset 20px 0 15px -15px rgba(0,0,0,0.15), inset -20px 0 15px -15px rgba(0,0,0,0.15));
	background-color: $red-back;
	background-image: -webkit-radial-gradient($red-back, darken($red-back, 12));
	background-image: -moz-radial-gradient($red-back, darken($red-back, 12));
	background-image: radial-gradient($red-back, darken($red-back, 12));
	color: #fff;
	text-align: center;
	padding: 0.5em 2em; /* Adjust to suit */
	margin: 1.5em auto 0; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */

	.title{
		text-transform: uppercase;
	}
	.icon{
		margin-right: 0.5em;
	}

	&:before, &:after {
		content: "";
		position: absolute;
		display: block;
		bottom: -0.6em;
		border: 0.9em solid darken($red-back, 15);
		z-index: -2;	

	}
	&:before {
		left: -1.8em;
		border-right-width: 1.5em;
		border-left-color: transparent;
	}
	&:after {
		right: -1.8em;
		border-left-width: 1.5em;
		border-right-color: transparent;
	}
	& .ribbon-content:before, & .ribbon-content:after {
		content: "";
		position: absolute;
		display: block;
		border-style: solid;
		border-color: darken($red-back, 25) transparent transparent transparent;
		bottom: -0.6em;
		z-index: -1;
	}
	& .ribbon-content:before {
		left: -0.02em;
		border-width: 0.6em 0 0 0.6em;
	}
	& .ribbon-content:after {
		right: -0.02em;
		border-width: 0.6em 0.6em 0 0;
	}
}

.live{
	background-color: $yellow-back;
	background-image: -webkit-radial-gradient($yellow-back, darken($yellow-back, 13));
	background-image: -moz-radial-gradient($yellow-back, darken($yellow-back, 13));
	background-image: radial-gradient($yellow-back, darken($yellow-back, 13));
	@include box-shadow(inset 20px 0 15px -15px rgba(0,0,0,0.15), inset -20px 0 15px -15px rgba(0,0,0,0.15));
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.4);

	.icon{
		color: $red-back;
		text-shadow: 0 0 5px $red-back2;
		font-size: 0.8em;
	}
	&:before, &:after {
		border-color: darken($yellow-back, 15);	

	}
	&:before {
		border-left-color: transparent;
	}
	&:after {
		border-right-color: transparent;
	}
	& .ribbon-content:before, & .ribbon-content:after {
		border-color: $yellow-back2 transparent transparent transparent;
	}
}

.hangout{
	background: black;
	width: 760px;
	margin: auto;
	min-height: 400px;
}

.comming_soon{
	max-width: 760px;
	margin: auto;
	background: url(../img/noise.gif);
	color: white;
	text-align: center;
	font-size: 2.5em;
	font-family: Coda;
	font-size: 5em;
	text-transform: uppercase;
	@include border-radius(0 0 7px 7px);
	text-shadow: 0px 0px 8px black, 0px 0px 3px black;

	.inner{
		padding: 1em;
		background-color: rgba(0,0,0,0.4);
		background-image: -webkit-radial-gradient(transparent 50%, rgba(0, 0, 0, 0.4));
		background-image: -moz-radial-gradient(transparent 50%, rgba(0, 0, 0, 0.4));
		background-image: radial-gradient(transparent 50%, rgba(0, 0, 0, 0.4));
		@include border-radius(0 0 7px 7px);
	}
	h2{
		font-weight: bold;
		font-size: 0.7em;
		line-height: 1.2em;
	}
	.feat{
		font-family: Great Vibes;
		text-transform: lowercase;
		font-size: 0.7em;
		margin: 0.5em 0;
	}
	h3{
		font-size: 0.8em;
		font-family: Great Vibes;
		text-transform: capitalize;
	}
	.date{
		font-family: $font;
		font-size: 17px;
		margin-top: 2em;
		// text-transform: lowercase;
		font-weight: 300;
	}
}

.info{
	max-width: 760px;
	margin: auto;
	color: white;
	margin-top: 1em;
	font-weight: 100;
	overflow: hidden;
	padding-bottom: 3em;

	.about, .featuring{
		float: left;
		width: 45%;
		margin: 0 2.5%;
	}
	h3{
		// font-weight: bold;
		font-family: Coda;
		font-size: 1.5em;
		color: #999;
		margin-bottom: 0.3em;
	}
	p{
		line-height: 1.2em;
		color: #999;
	}
}

.previous{
	margin: 2em auto 0;
	max-width: 760px;
	overflow: hidden;
	text-align: center;
	padding-bottom: 3em;

	.ribbon{
		width: 490px;
		margin-bottom: 2em;
	}

	h2{
		text-transform: uppercase;
	}

	article{
		float: left;
		width: 33%;
	}
	a{
		color: #ddd;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
	img, h3{
		width: 80%;
		margin: auto;
		height: auto;
	}
	h3{
		margin: 0.4em auto 0.3em;
	}
	.date{
		font-weight: 100;
		font-size: 0.9em;
		font-style: italic;
		color: #999;
	}
}

#footer{
	text-align: center;
	padding: 2em 0 2.2em;
	color: #777;
	font-size: 0.8em;
	line-height: 1.2em;
	box-shadow: 0 0 100px rgba(255, 255, 255, 0.14);
	margin-top: 3em;
	background: black;

	a{
		color: #fff;
		text-decoration: none;
	}
}