$font-title: franchise;
$font: Droid Sans, sans-serif;
$icon: 'icon';

$blue: #20A8DD;
$gray: #888;
$red-back: #BE2727;
$red-back2: maroon;
$yellow-back: #EEB80F;
$yellow-back2: #965F00;
$blue-back: #0257A5;
$blue-back2: #0A4585;
$red-front: #BB2E2E;