<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ page.title }} | BogotaJS</title>
	<meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
	<meta name="description" content="Hangouts sobre Javascript proveídos por BogotaJS">
	<meta property="og:image" content="res/img/logo.png">
	<meta property="og:site_name" content="BogotaJS">
	<meta property="og:description" content="Hangouts sobre Javascript proveídos por BogotaJS">
	<!-- >> Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Great+Vibes|Open+Sans|Coda' rel='stylesheet' type='text/css'>
	<!-- << Google Fonts -->
	<!-- >> Styles -->
	<link href="res/css/main.css" rel="stylesheet" type="text/css">
	<!-- << Styles -->
	<!-- >> Head Scripts -->
	<!--[if lt IE 9]>
	<script type="text/javascript" src="res/js/html5shiver.min.js"></script>
	<![endif]-->
	<!-- << Head Scripts -->
	<script type="text/javascript">
  	var _gaq = _gaq || [];
  	_gaq.push(['_setAccount', 'UA-34989792-1']);
  	_gaq.push(['_setDomainName', 'jshangouts.org']);
  	_gaq.push(['_trackPageview']);
  	(function() {
    		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  	})();
	</script>
</head>
<body>
	<div class="centered">
		<header id="header" class="">
			<hgroup>
				<a href="/" title="BOG.JS Hangouts">
					<h1>BOG.JS</h1>
					<h2>hangouts</h2>
				</a>
			</hgroup>
		</header><!-- /header -->
		{{ content }}

		<section class="previous">
			<h2>
				<div>
					Hangouts Anteriores
				</div>
			</h2>
			{% assign first_post = site.posts.first %}
			{% for post in site.posts %}
				{% if page.is_index and first_post.title == post.title %}
				{% elsif post.title != page.title %}
			<article>
				<a href="{{ post.url }}" title="">
					<img src="http://i2.ytimg.com/vi/{{ post.youtube_id }}/0.jpg">
					<h3>{{ post.title }} feat. {{ post.feat }}</h3>
					<time class="date" datetime="{{ post.date }}">{{ post.date | date_to_string }}</time>
				</a>
			</article>
				{% endif %}
			{% endfor %}
		</section>
	</div>
	<footer id="footer">
		<div class="centered">
			JSHangouts es organizado por <a href="http://bogotajs.com/"> Bog.JS</a> -
			Todo el contenido de JSHangouts está licenciado bajo <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">CC BY-NC-SA 3.0</a>
		</div>
	</footer>
</body>
</html>
