---
layout: default
---
<div class="non-semantic-protector">
	<h2 class="ribbon">
		<div class="ribbon-content">
			<a href="{{ page.permalink }}">
				<span class="icon">H</span> <span class="title">{{ page.title }} feat. {{ page.feat }}</span>
			</a>
		</div>
	</h2>
</div>
<div class="hangout">
	<iframe width="760" height="428" src="http://www.youtube.com/embed/{{ page.youtube_id }}" frameborder="0" allowfullscreen></iframe>
</div>
<div class="info">
	<div class="about">
		<h3>Introducción</h3>
		<p>{{ page.description }}</p>
	</div>
	<div class="featuring">
		<h3>Invitado</h3>
		<p>{{ page.bio }}</p>
	</div>
	{% if page.slides %}
	<div class="slides">
		<h3>Slides</h3>
		<script async class="speakerdeck-embed" data-id="{{ page.slides }}" data-ratio="1.3333333333333333" src="//speakerdeck.com/assets/embed.js"></script>
	</div>
	{% endif %}
</div>